PRI/XML_zapisnik/src/xml_files/notes.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Kořen: <notes> s libovolným počtem <note> -->
  <xs:element name="notes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="note" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    <!-- Unikátní omezení: každé <note>/<id> musí být v rámci <notes> jedinečné -->
    <xs:unique name="uniqueNoteId">
      <xs:selector xpath="note"/>
      <xs:field xpath="id"/>
    </xs:unique>
  </xs:element>

  <!-- Jedna poznámka -->
  <xs:element name="note">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int"/>
        <xs:element name="title" type="xs:string"/>
        <xs:element name="category" type="categoryType" default="Osobní"/>
        <xs:element name="description" type="xs:string"/>
        <xs:element name="state" type="stateType" default="Nezahájené"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Výčty -->
  <xs:simpleType name="categoryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Práce"/>
      <xs:enumeration value="Škola"/>
      <xs:enumeration value="Osobní"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="stateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Zahájené"/>
      <xs:enumeration value="Nezahájené"/>
      <xs:enumeration value="Dokončené"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>